


.bg-color-main {
    background-color: #007B8B;
}

.bg-color-sec {
    background-color: #C0DEE2;
}

.bg-color-third {
    background-color: #EA5DA9;
}

.text-color-main {
    color: #007B8B;
}

.text-color-sec {
    color: #C0DEE2;
}

.text-color-third {
    color: #EA5DA9;
}